.config/autostart
.config/cef_user_data
.config/configstore
.config/dconf
.config/discord
.config/Electron
.config/enchant
.config/eog
.config/evolution
.config/fontconfig
.config/gcloud
.config/goa-1.0
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/htop
.config/ibus
.config/libreoffice
.config/matplotlib
.config/menus
.config/Microsoft
.config/Microsoft Teams - Preview
.config/mimeapps.list
.config/nautilus
.config/NuGet
.config/pavucontrol.ini
.config/procps
.config/pulse
.config/QtProject.conf
.config/redshit
.config/spotify
.config/systemd
.config/teams
.config/update-notifier
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yarn
.config/coc
.config/nvim/plugged
.config/Raspberry Pi/
.config/Trolltech.conf
